.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffffff;
  margin: 100px;

  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 120%;
    color: #2b3350;
  }
}
