.userInput {
    position: relative;
    .inscription {
        padding: 0 5px;
        display: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        background-color: white;
        line-height: 15px;
        color: #0074D4;
        position: absolute;
    }

    input[type=text]:focus+.inscription {
        display: block;
        top:-8px;
        left: 30px;
    }

    input[type=text] {
        padding: 19px 30px 22px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #2B3350;
        background: #F7F7F8;
        border: 1px solid #E7EAEF;
        box-shadow: 0px 6px 16px rgba(255, 255, 255, 0.08);
        border-radius: 8px;
        display: block;
        @media (min-width:768px) {
            max-width: 528px;
        }
        width: 100%;

        &:focus {
            color: #2B3350;
            border: 1px solid #0074D4;
            box-shadow: 0px 6px 16px rgba(255, 255, 255, 0.08);
            border-radius: 8px;
            background-color: white;
        }
    }

    margin-bottom: 16px;
}