@use "./text.scss";

//---blue-btn start
.blue-btn {
  text-align: center;

  background: #0074d4;
  box-shadow: 0px 12.9632px 15.375px rgba(0, 116, 212, 0.241),
    0px 5.38427px 6.38599px rgba(0, 116, 212, 0.15),
    0px 1.94738px 2.30969px rgba(0, 116, 212, 0.059);
  border-radius: 8px;
  color: #ffffff;
  padding: 26px 38px 29px;

  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.blue-btn:hover {
  background-color: #009cff;
}

.blue-btn:active {
  background-color: #006cff;
  transition: 0.1s;
}

.blue-btn-big {
  @extend .btn-text-big;
  @extend .blue-btn;
  padding: 26px 38px 29px;
}

.blue-btn-med {
  @extend .btn-text-med;
  @extend .blue-btn;
  padding: 26px 38px 30px;
}

.blue-btn-small {
  @extend .btn-text-small;
  @extend .blue-btn;
  padding: 12px 22px 15px;
}
//---blue-btn end

//---grey-btn start
.grey-btn {
  @extend .btn-text-big;
  width: 100%;
  text-align: center;

  padding: 20px 124px;

  transition: 0.3s;
  border: none;
  cursor: pointer;
  background: #f1f4f9;
  border-radius: 8px;
}

.grey-btn:hover {
  background: #e5e9f0;
}

.grey-btn:active {
  background-color: #b0b3b8;
  transition: 0.1s;
}
//---grey-btn end

//---circle-btn start
.circle-btn {
  @extend .btn-text-big;
  background: #ffffff;
  height: 50px;
  width: 50px;
  top: 50%;

  border-radius: 50%;

  border: 1px solid #d2ebff;
  box-shadow: 0px 12px 20px -8px rgba(0, 116, 212, 0.35);
  cursor: pointer;
}

.circle-btn:hover {
  border: 1px solid #a5d3f9;
}
//---circle-btn finish
