.header {
  width: 1320px;
  align-self: center;
  // margin-inline: auto;
  color: #2b3350;
  padding: 20px;

  &__nav {
    position: relative;
    display: flex;
    gap: 1.5rem;
    font-size: 14px;
    font-weight: 500;

    a:hover {
      text-decoration: underline;
    }
  }

  &__main {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    input {
      flex: 1;
      cursor: text;
      outline: none;
      border: 0;
      box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.05);

      &::placeholder {
        color: #a5a5a5;
      }
    }

    input,
    button {
      padding: 6px 20px;
      background: #f7f7f8;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
    }

    .phone {
      font-size: 18px;
      font-weight: 500;

      img {
        transform: rotate(45deg);
      }
    }

    .logo {
      font-weight: 600;
      font-size: 20px;
      pointer-events: none;

      &__beggining {
        color: #43ab34;
      }
      &__end {
        color: #005ca9;
      }
    }
  }

  &__menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    &-main,
    &-additional {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-main {
      .button {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 6px 24px;
        background: #2b3350;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 10px;
        border-top-left-radius: 0;
        transition: all 0.2s ease-in-out;
      }

      .button:hover {
        background: lighten($color: #2b3350, $amount: 10);
      }
    }

    &-additional {
      select {
        border: none;
        background: transparent;
        outline: none;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        color: inherit;
        width: 50px;
      }

      .location {
        display: flex;
        align-items: center;

        img {
          height: 16px;
        }
      }

      .cart {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 16px;
        font-weight: 500;
        font-size: 14px;

        img {
          height: 18px;
        }

        .quantity {
          display: block;
          line-height: 100%;
          font-size: 12px;
          font-weight: 500;
          padding: 5px 7px;
          border-radius: 10px;
          background: #0074d4;
          color: #fff;
        }
      }
    }
  }

  .phone {
    display: flex;
    gap: 8px;
  }
}

.nav a:hover {
  text-decoration: underline;
}
