footer {
  background: #191e32;
  padding: 16px;

  margin: auto;

  .officeDirect {
    order: -2;
    display: flex;
    align-items: flex-start;

    img {
      margin-left: -1px;
    }

    div {
      display: flex;
      align-items: flex-start;
      margin-left: 9px;
      flex-direction: column;

      a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #959aae;
      }
    }
  }

  ul {
    max-width: 1172px;
    width: 100%;
    @media (min-width: 768px) {
      height: 126px;
    }

    // justify-content: space-between;

    margin: auto;
    display: flex;
    // flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;

    li {
      margin-bottom: 10px;

      .m-large {
        margin-bottom: 20px;
      }

      @media (min-width: 768px) {
        &.mb-0 {
          margin-bottom: 0;
        }
      }
    }

    .link {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      color: #e7eaef;
    }

    .info {
      &.number {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
      }

      &.long {
        @media (min-width: 768px) {
          max-width: 351px;
        }

        @media (min-width: 872px) {
          max-width: 100%;
        }
      }

      img {
        margin-right: 11px;
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }

      display: flex;
      align-items: center;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      color: #e7eaef;
    }

    .privacyPolicy {
      @media (min-width: 768px) {
        order: -1;
      }

      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      color: #959aae;
    }
  }
}
